{
	"cache": true,
	"all": true,
	"exclude": [
		"node_modules/**",
		"test/**",
		"testUtils/**",
		"tap-snapshots/**",
		"coverage/**",
		"migrations/**",
		"lib/migrationTemplate.js",
		"lib/migrationTemplate.mjs",
		"lib/migrationTemplate.ts",
		".remarkrc*.js"
	]
}
